

<div class="container">

     <h1>Welcome to the DangFango Luxury Theatre</h1>

      <div class="module twocol"  id="home_page" >
            <div id="tabs">
                       <ul>
                         <li><a href="#fragment-1"><span>Gallery</span></a></li>
                         <li><a href="#fragment-2"><span>Dinner and Snacks</span></a></li>
                         <li><a href="#fragment-3"><span>Drinks</span></a></li>
                       </ul>
                       <div id="fragment-1">
                             <p><img src="assets/seating.jpg">
                              Welcome to the luxury dining and movie experience. Order a beverage and a meal and we will deliver it to your table. Enjoy the show.
                             </p>
                       </div>
                       <div id="fragment-2">
                        <p><img src="assets/FoodMenu.png"></p>
                       </div>
                       <div id="fragment-3">
                         <img src="assets/DrinkMenu.png"></p>
                       </div>
             </div>


           <div>

            <h3>Today's Showings</h3>

               <% @movies.each do |movie| %>


                  <p class="movie"><%= movie.name + "  " %><%= link_to 'Movie Trailers', movie %></p>
                  <p><%= movie.synopsis %></p>
                  <p>Rating: <%= movie.rating.to_s + " out of 10" %></p>
                  <p>
                      <%= link_to '7:00 PM Showing', tickets_path %>
                      <%= link_to '9:00 PM Showing', tickets_path %>
                  </p>


              <% end %>

           </div>
      </div>
</div>


