<h1>Available Tickets</h1>

<div class="seating">
    <div>
            <table>
              <tr>
                <th>Movie</th>
                <th>Table</th>
                <th>Price</th>
                <th>Show Time</th>
                <th></th>
              </tr>
              <% @tickets.each do |ticket| %>
                  <tr>
                    <td><%= Movie.find(ticket.movie_id).name %></td>
                    <td><%= ticket.location %></td>
                    <td><%= ticket.price %></td>
                    <td><%= ticket.showtime + ":00 PM " %></td>
                    <td><%= ticket.user_id %></td>
                    <td><%= link_to 'Purchase', ticket %></td>
                  </tr>
              <% end %>
            </table>
      </div>
    <div>
    <div class="module grid">
      <p> Seating Chart </p>
        <div id="one" class="table">A1</div>
        <div id="two" class="table">A2</div>
        <div id="three" class="table">A3</div>
        <div id="four"class="table">A4</div>
        <div id ="five"class="table">B1</div>
        <div id ="six"class="table">B2</div>
        <div id ="seven"class="table">B3</div>
        <div id ="eight"class="table">B4</di>
   </div>
  </div>
</div>