<p id="notice"><%= notice %></p>


<p>
  <b>Movie:</b>
  <%= Movie.find(@ticket.movie_id).name %>
</p>

<p>
  <b>Showtime:</b>
  <%= @ticket.showtime.to_s + ":00 PM" %>
</p>
<p>
  <b>Location:</b>
  <%= "Table " + @ticket.location %><br>
  Seating for four moviegoers.
</p>

<p>
  <b>Price:</b>
  <%= "$" + @ticket.price.to_s %>
</p>

<%= link_to 'Back', tickets_path %>
